.name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    
}

.question{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

.email{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 20px;
}

